.a
{
margin-left:725px;
font-size: 30px;
margin-top: 1px;
}
.b{
	margin-left: 5px;
	font-size: 30px;
}
.c{
	margin-left: 5px;
	font-size: 30px;
}
.bt{
	width: 100;
    height: 60;
    
    color: white;
   background-color: #403c3c;
}